*
{
    background-color: lightgreen;
}
#color1
{
    background-color: aqua;
    height:10vh;
}
#color2
{
   background-color: orange;  
   height:10vh;
}
#color3
{
    background-color:aquamarine;
    height:10vh;
}
#color4
{
    background-color: lightcoral;
    height:10vh;
}
#color5
{
   background-color:burlywood;  
   height:10vh;
}